name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop
jobs:
  qodana:
    runs-on: ubuntu-latest
    # Skip if this is a PR created by qodana-bot to avoid infinite loops
    if: github.event_name != 'pull_request' || github.event.pull_request.user.login != 'qodana-bot[bot]'
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          lfs: true

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.3
        with:
          args: --linter, jetbrains/qodana-jvm:2025.3, --baseline, .github/workflows/qodana.sarif.json, --cleanup
          pr-mode: 'true'
          push-fixes: pull-request
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
