name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - develop
jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          lfs: true
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.3
        with:
          args: --linter, jetbrains/qodana-jvm:2025.3, --baseline, .github/workflows/qodana.sarif.json, --severity-threshold, Moderate${{ github.event_name == 'pull_request' && ', --fail-threshold, 0' || '' }}
          pr-mode: 'true'
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}